<!-- user sign modal -->
<div aria-hidden="true" class="modal fade" id="sign-modal" tabindex="-1" th:fragment="sign-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-header">로그인</h5>
                <span aria-hidden="true" aria-label="Close" class="close" data-dismiss="modal" style="cursor: pointer">&times;</span>
            </div>
            <div class="modal-body">
                <form id="signinForm" th:action="@{/login}" th:method="POST">
                    <div class="form-group">
                        <label for="email">이메일</label>
                        <input
                            class="form-control"
                            id="email"
                            name="email"
                            onblur="validate(this)"
                            placeholder="이메일을 입력하세요."
                            required
                            type="email"
                        />
                        <div class="invalid-feedback" id="email-feedback">이메일을 확인해주세요.</div>
                    </div>
                    <div class="form-group">
                        <label for="password">비밀번호</label>
                        <input
                            class="form-control"
                            id="password"
                            name="password"
                            onblur="validate(this)"
                            placeholder="비밀번호를 입력하세요."
                            required
                            type="password"
                        />
                        <div class="invalid-feedback">비밀번호를 확인해주세요.</div>
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-success" id="btn-sign" onclick="submitData(this.innerText)" type="button">로그인</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <small id="footer">
                    아직 회원이 아니신가요?
                    <a class="text-success" onclick="changeModal(this)" style="cursor: pointer">회원가입</a>
                </small>
            </div>
        </div>
    </div>
</div>

<!-- user setting modal -->
<div aria-hidden="true" class="modal fade" id="setting-modal" tabindex="-1" th:fragment="user-setting-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">설정</h5>
                <span aria-hidden="true" aria-label="Close" class="close" data-dismiss="modal" style="cursor: pointer">&times;</span>
            </div>
            <div class="modal-body">
                <input accept="image/**" class="custom-file-input" hidden id="btn-photo" onchange="putPhoto(this)" type="file" />
                <div class="d-flex justify-content-center">
                    <div class="form-group text-center mx-4">
                        <div class="mb-3" style="width: 128px; height: 128px; border-radius: 50%; overflow: hidden">
                            <img id="photo" style="object-fit: cover; width: 128px; height: 128px" th:src="${user.getPhotoUrl()}" />
                        </div>
                        <div>
                            <label class="btn btn-outline-success btn-sm px-2 m-0" for="btn-photo">업로드</label>
                            <button class="btn btn-outline-danger btn-sm px-2 m-0" onclick="deletePhoto()" type="button">삭제</button>
                        </div>
                    </div>
                    <div class="form-group mx-4">
                        <h3 class="mb-3" th:text="${user.getEmail()}"></h3>
                        <textarea
                            id="user-introduction"
                            maxlength="50"
                            placeholder="소개 글을 작성해주세요."
                            style="width: 100%; height: 12vh; resize: none; outline: none; border: none"
                            th:text="${user.getIntroduction()}"
                        ></textarea>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <a
                        data-target="#user-delete-modal"
                        data-toggle="modal"
                        onclick="userDeleteModal()"
                        style="color: #dc3545; font-size: small; cursor: pointer"
                        type="button"
                        >회원탈퇴</a
                    >
                    <button class="btn btn-success btn-sm px-3" onclick="userModify()" type="button">저장</button>
                </div>
            </div>
        </div>
    </div>
    <input id="user-id" th:value="${user.getId()}" type="hidden" />
</div>

<!-- user delete modal -->
<div aria-hidden="true" class="modal fade" id="user-delete-modal" tabindex="-1" th:fragment="user-delete-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">회원 탈퇴</h5>
                <span aria-hidden="true" aria-label="Close" class="close" data-dismiss="modal" style="cursor: pointer">&times;</span>
            </div>
            <div class="modal-body">
                <div class="form-group">정말로 탈퇴 하시겠습니까?</div>
                <div class="form-group text-muted">
                    <small>탈퇴 시 작성하신 포스트 및 댓글이 모두 삭제되며 복구되지 않습니다.</small>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" onclick="userDelete()" type="button">탈퇴</button>
                <button class="btn btn-secondary btn-sm" data-dismiss="modal" type="button">취소</button>
            </div>
        </div>
    </div>
</div>

<!-- board write modal -->
<div aria-hidden="true" class="modal fade" id="board-write-modal" tabindex="-1" th:fragment="board-write-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">미리보기</h5>
                <span aria-hidden="true" aria-label="Close" class="close" data-dismiss="modal" style="cursor: pointer">&times;</span>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <img
                        alt="thumbnail"
                        id="thumbnail"
                        src="https://jaeyeop-blog-project.s3.ap-northeast-2.amazonaws.com/images/default.jpg"
                        style="height: 20vh; object-fit: cover"
                    />
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input
                            accept="image/**"
                            class="custom-file-input"
                            id="btn-thumbnail"
                            onchange="thumbnailPreview(this)"
                            type="file"
                        />
                        <small><label class="custom-file-label" for="btn-thumbnail">미리보기 사진 (50MB)</label></small>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="title" placeholder="제목을 입력해주세요." required type="text" />
                </div>
                <div class="form-group">
                    <small>
                        <textarea
                            class="form-control"
                            id="introduction"
                            maxlength="100"
                            onkeyup="introductionValidate(this)"
                            placeholder="소개 글을 작성해주세요. (최대 100자)"
                            style="height: 12vh; resize: none"
                        ></textarea>
                    </small>
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-success" id="btn-board-write" type="button">새 글 작성</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- board modify modal -->
<div aria-hidden="true" class="modal fade" id="board-modify-modal" tabindex="-1" th:fragment="board-modify-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">미리보기</h5>
                <span aria-hidden="true" aria-label="Close" class="close" data-dismiss="modal" style="cursor: pointer">&times;</span>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <img
                        alt="thumbnail"
                        id="thumbnail"
                        style="height: 20vh; object-fit: cover"
                        th:src="${board.getThumbnailUrl()} != null ? ${board.getThumbnailUrl()} : 'https://jaeyeop-blog-project.s3.ap-northeast-2.amazonaws.com/images/default.jpg'"
                    />
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input
                            accept="image/**"
                            class="custom-file-input"
                            id="btn-thumbnail"
                            onchange="thumbnailPreview(this)"
                            type="file"
                        />
                        <small><label class="custom-file-label" for="btn-thumbnail">미리보기 사진 (50MB)</label></small>
                    </div>
                </div>
                <div class="form-group">
                    <input
                        class="form-control"
                        id="title"
                        placeholder="제목을 입력해주세요."
                        required
                        th:value="${board.getTitle()}"
                        type="text"
                    />
                </div>
                <div class="form-group">
                    <small>
                        <textarea
                            class="form-control"
                            id="introduction"
                            maxlength="100"
                            onkeyup="introductionValidate(this)"
                            placeholder="소개 글을 작성해주세요. (최대 100자)"
                            style="height: 12vh; resize: none"
                            th:text="${board.getIntroduction()}"
                        ></textarea>
                    </small>
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-success" id="btn-board-modify" type="button">글 수정</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- board delete modal -->
<div aria-hidden="true" class="modal fade" id="board-delete-modal" tabindex="-1" th:fragment="board-delete-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">게시글 삭제</h5>
                <span aria-hidden="true" aria-label="Close" class="close" data-dismiss="modal" style="cursor: pointer">&times;</span>
            </div>
            <div class="modal-body">삭제하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" id="btn-board-delete" type="button">삭제</button>
                <button class="btn btn-secondary btn-sm" data-dismiss="modal" type="button">취소</button>
            </div>
        </div>
    </div>
</div>
