spring:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        show_sql: true
        use_sql_comments: true

  datasource:
    url: jdbc:mysql://localhost:3306/blog
    hikari:
      driver-class-name: com.mysql.cj.jdbc.Driver
      username: test
      password: test
      connection-init-sql: SELECT 1

  data:
    redis:
      host: localhost
      port: 6379
      password: test

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: test
            client-secret: test
            scope:
              - profile
              - email

springdoc:
  override-with-generic-response: false
  default-produces-media-type: application/json
  cache:
    disabled: true
  swagger-ui:
    path: /swagger-ui
    operationsSorter: method
    tagsSorter: alpha
    disable-swagger-default-url: true
    display-request-duration: true
  api-docs:
    path: /api-docs

logging:
  level:
    org:
      hibernate:
        type: trace
        sql: debug
    root: debug

token:
  key: test-test-test-test-test
  exp:
    access: 7200000
    refresh: 172800000

oas:
  contact:
    name: test
    email: test
    url: test
