services:
  database:
    restart: always
    platform: linux/amd64
    image: mysql:8.4.7
    container_name: database
    environment:
      MYSQL_HOST: localhost
      MYSQL_PORT: 3306
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: blog
      MYSQL_USER: test
      MYSQL_PASSWORD: test
      TZ: UTC
    volumes:
      - mysql:/var/lib/mysql
    ports:
      - '3306:3306'
    command:
      - '--character-set-server=utf8mb4'
      - '--collation-server=utf8mb4_general_ci'
  cache:
    restart: always
    platform: linux/amd64
    image: redis:8.4.0-alpine
    container_name: cache
    environment:
      TZ: UTC
    volumes:
      - redis:/data
    ports:
      - '6379:6379'
    command:
      - '--requirepass test'

volumes:
  mysql:
  redis:

networks:
  blog:
    driver: bridge
