<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" />
        <link
            crossorigin="anonymous"
            href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
            integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
            rel="stylesheet"
        />
        <link href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" rel="stylesheet" />
        <link href="https://img.icons8.com/dusk/40/000000/box.png" rel="icon" />
        <style>
            .nav-item {
                height: 40px;
            }
        </style>
        <title th:text="${board.title}">board</title>
    </head>
    <body>
        <nav class="navbar sticky-top navbar-light" id="nav" style="background-color: #fafafa; box-shadow: none">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}">
                    <img src="https://img.icons8.com/dusk/40/000000/box.png" />

                    <span class="align-middle">Box</span>
                </a>

                <ul class="nav" sec:authorize="isAnonymous()">
                    <li class="nav-item mx-1">
                        <a class="btn btn-sm text-capitalize" href="#" role="button" th:href="@{/login}">
                            <img src="https://img.icons8.com/dusk/30/000000/login-rounded-right.png" />

                            <span class="align-middle"> Sign in </span>
                        </a>
                    </li>

                    <li class="nav-item mx-1">
                        <a class="btn btn-sm text-capitalize" href="#" role="button" th:href="@{/join}">
                            <img src="https://img.icons8.com/dusk/30/000000/easy.png" />

                            <span class="align-middle"> Sign up </span>
                        </a>
                    </li>
                </ul>

                <ul class="nav" sec:authorize="isAuthenticated()">
                    <li class="nav-item mx-1">
                        <a class="btn btn-sm text-capitalize" href="#" role="button" th:href="@{/write}">
                            <img src="https://img.icons8.com/dusk/30/000000/pencil.png" />

                            <span class="align-middle"> Write </span>
                        </a>
                    </li>

                    <li class="nav-item dropdown mx-1">
                        <button
                            aria-expanded="false"
                            aria-haspopup="true"
                            class="btn btn-sm dropdown-toggle"
                            data-toggle="dropdown"
                            type="button"
                        >
                            <img
                                alt="profile photo"
                                src="/images/1111.gif"
                                style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover"
                            />
                        </button>

                        <div class="dropdown-menu dropdown-menu-right" style="left: -127%">
                            <a class="dropdown-item" th:href="@{/settings}">
                                <img src="https://img.icons8.com/dusk/30/000000/gear.png" />

                                <small> &nbsp; Settings </small>
                            </a>

                            <a class="dropdown-item" th:href="@{/logout}">
                                <img src="https://img.icons8.com/dusk/30/000000/logout-rounded-left.png" />

                                <small> &nbsp; Sign out </small>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="container mt-5" style="max-width: 800px">
            <h1 class="mb-5" th:text="${board.title}">Title</h1>
            <div class="d-flex justify-content-between mb-5" style="height: 40px">
                <div>
                    <h6 style="display: inline">
                        <a href="#" th:text="${board.user.email}"> Email </a>
                    </h6>
                    ·
                    <span class="font-weight-light" th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')}"> 2020/12/04 </span>
                </div>

                <div sec:authorize="isAuthenticated()" th:if="${board.user.id} == ${#authentication.principal.id}">
                    <a class="btn btn-sm text-capitalize" href="#" role="button" th:href="@{|/edit/${board.id}|}">
                        <img src="https://img.icons8.com/dusk/20/000000/edit.png" />

                        <span class="align-middle"> Edit </span>
                    </a>

                    <button class="btn btn-sm text-capitalize" type="button" data-toggle="modal" data-target="#board_delete_modal">
                        <img src="https://img.icons8.com/dusk/20/000000/delete-sign.png" />

                        <span class="align-middle"> Delete </span>
                    </button>

                    <div
                        class="modal fade"
                        id="board_delete_modal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="board_delete_modal"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete board</h5>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <div class="form-group text-center">Are you sure you want to do this?</div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm text-capitalize" data-dismiss="modal">
                                        <img src="https://img.icons8.com/dusk/20/000000/delete-sign.png" />

                                        <span class="align-middle"> Close </span>
                                    </button>

                                    <button class="btn btn-sm text-capitalize" type="button" th:onclick="|_delete_board(${board.id})|">
                                        <img src="https://img.icons8.com/dusk/20/000000/delete-forever.png" />

                                        <span class="align-middle"> Delete </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5" style="min-height: 200px" th:utext="${board.content}">Content</div>

            <div class="media align-items-center mb-5">
                <img
                    art="profile photo"
                    class="align-self-start"
                    src="/images/1111.gif"
                    style="width: 128px; height: 128px; border-radius: 50%; object-fit: cover"
                />

                <div class="mx-4 media-body">
                    <h6>
                        <a href="#" th:text="${board.user.email}"> Email </a>
                    </h6>

                    <div class="font-weight-light" th:text="${board.user.introduce}">Introduce</div>
                </div>
            </div>

            <hr class="mb-5" />

            <div class="mb-5">
                <h6>
                    <img src="https://img.icons8.com/dusk/30/000000/messaging-.png" />

                    <span class="mx-2 align-middle" th:text="|${board.comments.size()} Comments|"> ? Comments </span>
                </h6>
                <textarea
                    class="p-3"
                    id="write_comment_content"
                    rows="3"
                    style="width: 100%; border: 1px solid rgba(0, 0, 0, 0.1); outline: none; resize: none"
                ></textarea>
                <div class="text-right">
                    <button aria-pressed="true" class="btn btn-sm text-capitalize" th:onclick="|_write_comment(${board.id})|" type="button">
                        <img src="https://img.icons8.com/dusk/30/000000/paper-plane.png" />

                        <span class="align-middle"> Comment </span>
                    </button>
                </div>
            </div>

            <div class="mb-5" th:each="comment: ${board.comments}">
                <div class="d-flex align-items-center mb-3 justify-content-between">
                    <div class="d-flex">
                        <img
                            art="profile photo"
                            class="align-self-start"
                            src="/images/1111.gif"
                            style="width: 54px; height: 54px; border-radius: 50%; object-fit: cover"
                        />

                        <div class="mx-3">
                            <small>
                                <a href="#" th:text="${comment.user.email}"> Email </a>
                            </small>

                            <div>
                                <small class="font-weight-light" th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}">
                                    2020/12/04
                                </small>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-sm text-capitalize" type="button">
                            <img src="https://img.icons8.com/dusk/20/000000/edit.png" />

                            <span class="align-middle"> Edit </span>
                        </button>
                        <button class="btn btn-sm text-capitalize" type="button" data-toggle="modal" data-target="#comment_delete_modal">
                            <img src="https://img.icons8.com/dusk/20/000000/delete-sign.png" />

                            <span class="align-middle"> Delete </span>
                        </button>
                    </div>
                </div>

                <!-- border: 1px solid rgba(0, 0, 0, 0.1); -->
                <textarea
                    \
                    class="p-3"
                    id="edit_comment_content"
                    readonly
                    rows="3"
                    style="width: 100%; border: none; outline: none; resize: none; background-color: unset"
                    th:text="${comment.content}"
                >
                    Comment</textarea
                >

                <hr class="mb-5" />

                <div
                    class="modal fade"
                    id="comment_delete_modal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="comment_delete_modal"
                    aria-hidden="true"
                >
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete board</h5>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="form-group text-center">Are you sure you want to do this?</div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm text-capitalize" data-dismiss="modal">
                                    <img src="https://img.icons8.com/dusk/20/000000/delete-sign.png" />
                                    Close
                                </button>

                                <button class="btn btn-sm text-capitalize" type="button" th:onclick="|_delete_comment(${comment.id})|">
                                    <img src="https://img.icons8.com/dusk/20/000000/delete-forever.png" />
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script
            crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        ></script>
        <script
            crossorigin="anonymous"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        ></script>
        <script
            crossorigin="anonymous"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        ></script>
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            $('body').bootstrapMaterialDesign();

            function _delete_board(board_id) {
                axios
                    .delete(`/boards/${board_id}`)
                    .then(() => (window.location.href = '/'))
                    .catch((error) => alert(error.response.data.message));
            }

            function _write_comment(board_id) {
                const write_comment_content = document.getElementById('write_comment_content').value;

                axios
                    .post(`/boards/${board_id}/comments`, {
                        content: write_comment_content,
                    })
                    .then(() => window.location.reload())
                    .catch((error) => alert(error.response.data.message));
            }

            function _show_comment_edit_form() {}

            function _edit_comment(comment_id) {
                const edit_comment_content = document.getElementById('edit_comment_content').value;

                axios
                    .put(`/boards/${board_id}/comments`, {
                        content: edit_comment_content,
                    })
                    .then((response) => (window.location.href = response.headers.location))
                    .catch((error) => alert(error.response.data.message));
            }

            function _delete_comment(comment_id) {
                axios
                    .delete(`/comments/${comment_id}`)
                    .then((response) => (window.location.href = response.headers.location))
                    .catch((error) => alert(error.response.data.message));
            }
        </script>
    </body>
</html>
