<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" />
        <link
            crossorigin="anonymous"
            href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
            integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
            rel="stylesheet"
        />
        <link rel="icon" href="https://img.icons8.com/dusk/40/000000/box.png" />
        <style>
            .card {
                cursor: pointer;
                transition: 0.3s;
            }
            .card:hover {
                transform: scale(1.02);
            }
        </style>
        <title>box</title>
    </head>
    <body>
        <nav class="navbar sticky-top navbar-light" id="nav" style="background-color: #fafafa; box-shadow: none">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="https://img.icons8.com/dusk/40/000000/box.png" />
                    <span class="align-middle">Box</span>
                </a>

                <ul class="nav mx-3">
                    <li class="nav-item">
                        <button class="btn btn-dark btn-sm text-capitalize" type="button" onclick="location.href='/login'">
                            <span class="align-middle">sign in</span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-dark btn-sm text-capitalize" type="button" onclick="location.href='/join'">
                            <span class="align-middle">sign up</span>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="container-fluid" style="max-width: 80%">
            <div class="row">
                <div class="col-xl-3 col-md-6 p-4" th:each="n: ${#numbers.sequence(1, 20)}">
                    <div class="card m-0">
                        <img alt="Card image cap" class="card-img-top" src="/images/bmo.png" style="height: 15vh; object-fit: cover" />
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text" style="height: 15vh">
                                This is a wider card with supporting text below as a natural lead-in to additional content. This content is
                                a little bit longer.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script
            crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        ></script>
        <script
            crossorigin="anonymous"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        ></script>
        <script
            crossorigin="anonymous"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        ></script>
        <script defer>
            $(document).ready(function () {
                $('body').bootstrapMaterialDesign();
            });
        </script>
    </body>
</html>
