<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/default :: head('Bucket')"></head>
<style>
    .card:hover {
        transform: scale(1.02);
    }

    .card {
        transition: .3s;
    }
</style>
<body>
<header th:replace="layout/default :: header"></header>
<div th:replace="layout/default :: modal"></div>
<br><br>
<div class="container-fluid" style="width: 70%; margin-top:5%">
    <div class="row row-cols-1 row-cols-xl-4 row-cols-md-2">
        <div class="col mb-4" th:each="board: ${boards}">
            <div class="card shadow-sm" style="height: 20rem;">
                <img alt="thumbnail" class="card-img-top img-fluid"
                     style="height: 9rem; object-fit: cover;" th:if="${board.thumbnailUrl} != null"
                     th:src="${board.thumbnailUrl}">
                <div class="card-body px-2 py-1">
                    <h5 class="card-title" th:text="${board.title}"></h5>
                    <p class="card-text" th:text="${board.description}"></p>
                </div>
                <div class="footer px-3 py-1">
                    <p class="card-text d-flex justify-content-between">
                        <span>
                            <small class="text-muted">by</small>
                            <!--                            <small th:text="${board.user.email}"></small>-->
                        </span>
                        <small class="text-muted"
                               th:text="${#temporals.format(board.createdAt, 'yyyy년 MM월 dd일')}"></small>
                    </p>
                </div>
                <a class="stretched-link" th:href="@{boards/detail/{id}(id=${board.id})}"></a>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/default :: script"></div>
<script th:src="@{js/user.js}"></script>
</body>
</html>


