<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" />
        <link
            crossorigin="anonymous"
            href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
            integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
            rel="stylesheet"
        />
        <link href="https://img.icons8.com/dusk/40/000000/box.png" rel="icon" />
        <title>join</title>
    </head>
    <body>
        <main class="d-flex align-items-center flex-column">
            <div style="width: 400px; margin-top: 100px">
                <div style="display: none" id="email-invalid-alert" class="alert alert-danger alert-dismissible" role="alert">
                    <small id="email-invalid-feedback">Email is not available.</small>

                    <button
                        aria-label="Close"
                        class="close"
                        onclick="document.getElementById('email-invalid-alert').style.display = 'none'"
                        type="button"
                    >
                        &times;
                    </button>
                </div>

                <div class="card">
                    <div class="card-body px-5">
                        <div class="card-title text-center">
                            <h2 style="margin-bottom: 20px">
                                <a href="/">
                                    <img src="https://img.icons8.com/dusk/40/000000/box.png" />
                                </a>
                            </h2>

                            <h5>Join Box</h5>
                        </div>

                        <div class="card-text">
                            <div class="form-group text-danger">
                                <label class="bmd-label-static" for="email">Email</label>

                                <input class="form-control" id="email" name="email" type="email" />
                            </div>

                            <div class="form-group">
                                <label class="bmd-label-static" for="password">Password</label>

                                <input class="form-control" id="password" name="password" type="password" />
                            </div>

                            <div class="form-group">
                                <button class="btn btn-raised btn-primary btn-block" type="button" onclick="join()">Create Account</button>
                            </div>

                            <div class="d-flex justify-content-around p-3">
                                <button class="btn bmd-btn-fab bmd-btn-fab-sm" type="button">
                                    <img src="https://img.icons8.com/dusk/40/000000/github.png" />
                                </button>

                                <button class="btn bmd-btn-fab bmd-btn-fab-sm" type="button">
                                    <img src="https://img.icons8.com/dusk/40/000000/google-logo.png" />
                                </button>

                                <button class="btn bmd-btn-fab bmd-btn-fab-sm" type="button">
                                    <img src="https://img.icons8.com/dusk/40/000000/facebook-new.png" />
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-text text-right p-3">
                        <small> Already on Box? <a href="/login">Sign in</a> </small>
                    </div>
                </div>
            </div>
        <script
            crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        ></script>
        <script
            crossorigin="anonymous"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        ></script>
        <script
            crossorigin="anonymous"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        ></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            $(document).ready(() => {
                $('body').bootstrapMaterialDesign();
            });

            function join() {
                axios
                    .post('/api/users', {
                        email: document.getElementById('email').value,
                        password: document.getElementById('password').value,
                    })
                    .then(() => (window.location.href = '/login?join'))
                    .catch((error) => {
                        document.getElementById('email-invalid-alert').style.display = 'block';
                        document.getElementById('email-invalid-feedback').innerHTML = error.response.data.message;
                    });
            }
        </script>
    </body>
</html>
