<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" />
        <link
            crossorigin="anonymous"
            href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
            integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
            rel="stylesheet"
        />
        <link href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" rel="stylesheet" />
        <link href="https://img.icons8.com/dusk/40/000000/box.png" rel="icon" />
        <style>
            .fa.fa-columns,
            .fa.fa-arrows-alt {
                display: none;
            }

            .CodeMirror-fullscreen,
            .editor-preview-side {
                margin-bottom: 50px;
                min-height: auto;
            }
        </style>
        <title>write</title>
    </head>
    <body>
        <textarea id="content"></textarea>

        <div style="position: absolute; bottom: 0; right: 2%">
            <button class="btn btn-sm text-capitalize" onclick="window.location.href = '/'" type="button">
                <img src="https://img.icons8.com/dusk/30/000000/circled-left.png" />
                Back
            </button>

            <button class="btn btn-sm text-capitalize" type="button" data-toggle="modal" data-target="#modal">
                <img src="https://img.icons8.com/dusk/30/000000/ok.png" />
                Save
            </button>
        </div>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Preview</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group text-center">
                            <input hidden type="file" id="photo" accept="image/**" onchange="_addPhoto()" />

                            <div id="before-upload">
                                <label for="photo">
                                    <small class="btn-link" style="cursor: pointer"> upload </small>
                                </label>
                            </div>

                            <div id="after-upload" style="display: none">
                                <label for="photo">
                                    <small class="btn-link" style="cursor: pointer"> reupload </small>
                                </label>
                                ·
                                <small class="btn-link" style="cursor: pointer" onclick="_removePhoto()"> remove </small>
                            </div>

                            <img
                                alt="preview"
                                id="preview"
                                src="https://jaeyeop-blog-project.s3.ap-northeast-2.amazonaws.com/images/default.jpg"
                                style="width: 350px; height: 200px; object-fit: cover"
                            />
                        </div>

                        <div class="form-group">
                            <label class="bmd-label-static" for="title">Title</label>

                            <input class="form-control" id="title" type="text" required />
                        </div>

                        <div class="form-group">
                            <label for="introduce">Introduce (max 150)</label>

                            <textarea style="resize: none" class="form-control" id="introduce" rows="3" maxlength="150"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm text-capitalize" data-dismiss="modal">
                            <img src="https://img.icons8.com/dusk/30/000000/delete-sign.png" />
                            Close
                        </button>

                        <button class="btn btn-sm text-capitalize" type="button" onclick="_write()">
                            <img src="https://img.icons8.com/dusk/30/000000/ok.png" />
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script
            crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        ></script>
        <script
            crossorigin="anonymous"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        ></script>
        <script
            crossorigin="anonymous"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        ></script>
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            $('body').bootstrapMaterialDesign();

            const content = new SimpleMDE({
                element: document.getElementById('content'),
                // placeholder: "Please enter a text.",
                status: false,
                toolbar: [
                    'bold',
                    'italic',
                    'heading',
                    '|',
                    'code',
                    'quote',
                    'unordered-list',
                    'ordered-list',
                    '|',
                    'link',
                    'image',
                    'table',
                    '|',
                    'guide',
                    'side-by-side',
                    'fullscreen',
                ],
                spellChecker: false,
            });

            content.toggleSideBySide();

            const photo = document.getElementById('photo');
            const preview = document.getElementById('preview');
            const defaultPhoto = 'https://jaeyeop-blog-project.s3.ap-northeast-2.amazonaws.com/images/default.jpg';
            const before_upload = document.getElementById('before-upload');
            const after_upload = document.getElementById('after-upload');

            function _addPhoto() {
                if (photo.files[0] === undefined) {
                    // before
                    before_upload.style.display = 'block';
                    after_upload.style.display = 'none';

                    preview.src = defaultPhoto;
                } else {
                    // after
                    before_upload.style.display = 'none';
                    after_upload.style.display = 'block';

                    preview.src = window.URL.createObjectURL(photo.files[0]);
                    preview.onload = () => {
                        window.URL.revokeObjectURL(preview.src);
                    };
                }
            }

            function _removePhoto() {
                photo.value = '';
                preview.src = defaultPhoto;
                before_upload.style.display = 'block';
                after_upload.style.display = 'none';
            }

            function _write() {
                const title = document.getElementById('title');

                if (title.checkValidity()) {
                    const data = new FormData();
                    data.append('title', title.value);
                    data.append('content', content.value());
                    data.append('introduce', document.getElementById('introduce').value);
                    data.append('newPhoto', photo.files[0]);

                    axios
                        .post('/boards', data)
                        .then((response) => {
                            window.location.href = response.headers.location;
                        })
                        .catch((error) => {
                            alert(error.response.data.message);
                        });
                }
            }
        </script>
    </body>
</html>
