<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/default :: head('Sign in to Blog')"></head>
<script defer th:src="@{js/user.js}"></script>
<body>
<header th:replace="layout/default :: header"></header>
<div th:replace="layout/default :: sign-modal"></div>
<br><br>
<div class="container p-0" style="margin-top: 10vh">
    <div class="text-center">
        <img th:src="@{images/bmo.png}">
        <br><br>
        <h3 th:if="${param.error} and ${#authentication.isAuthenticated()}">이메일과 비밀번호를 확인해주세요.</h3>
        <h3 th:if="${param.error} and !${#authentication.isAuthenticated()}">잘못된 접근입니다.</h3>
        <h3 th:if="!${param.error} and ${#authentication.isAuthenticated()}">로그인 후 이용해주세요.</h3>
        <h3 th:if="!${param.error} and !${#authentication.isAuthenticated()}">잘못된 접근입니다.</h3>
    </div>
</div>
</body>
</html>


