<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="common_css">
    <link href="https://img.icons8.com/dusk/40/000000/box.png" rel="icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</th:block>

<th:block th:fragment="simple_mde_css">
    <link href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/mde.css}" />
</th:block>

<th:block th:fragment="index_card_css">
    <link rel="stylesheet" th:href="@{/css/card.css}" />
</th:block>

</html>