<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title th:text="${title}"></title>
</head>
<body>
<header th:fragment="header(page)">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" th:href="@{/}">Blog</a>
        <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div sec:authorize="isAnonymous()">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${page} == 'join'? 'active'" th:href="@{/join}">Sign
                            up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${page} == 'login'? 'active'" th:href="@{/login}">Sign
                            in</a>
                    </li>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${page} == 'write'? 'active'" th:href="@{/write}">Write</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${page} == 'settings'? 'settings'" th:href="@{/settings}">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<footer class="jumbotron text-center" style="margin-bottom:0" th:fragment="footer">
    <p>Created by <a href="https://github.com/dev-jaeyeop">Jaeyeop</a></p>
    <p><a href="mailto: woduq1204@gmail.com">woduq1204@gmail.com</a></p>
    <p><a href="tel:010-3478-1342">010-3478-1342</a></p>
</footer>
</body>
</html>