<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head(current)">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <style>
        body {
            font-family: 'Noto Sans KR', sans-serif;
        }
    </style>
    <title th:text="${current}"></title>
</head>
<body>

<!-- Header -->
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbar"
         style="background-color: white;width: 100vw; height: 7vh">
        <div class="container-fluid p-0" style="width: 90vw;">
            <a class="navbar-brand" th:href="@{/}">Bucket</a>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item p-2" sec:authorize="isAnonymous()">
                    <button class="btn btn-outline-dark btn-sm" data-target="#sign-modal" data-toggle="modal"
                            type="button">로그인
                    </button>
                </li>
                <li class="nav-item p-2" sec:authorize="isAuthenticated()">
                    <a class="btn btn-outline-dark btn-sm mx-1" href="/write" id="btn-modal" type="button">
                        새 글 작성
                    </a>
                    <a class="btn btn-outline-dark btn-sm mx-1" href="/logout" type="button">
                        로그아웃
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Sign in Modal -->
<div aria-hidden="true" class="modal fade" id="sign-modal" tabindex="-1" th:fragment="sign-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-header">로그인</h5>
                <span aria-hidden="true" aria-label="Close" class="close" data-dismiss="modal"
                      style="cursor: pointer">&times;</span>
            </div>
            <div class="modal-body">
                <form id="signinForm" th:action="@{/signin}" th:method="POST">
                    <div class="form-group">
                        <label for="email">이메일</label>
                        <input class="form-control" id="email" name="email" onblur="validate(this)"
                               placeholder="이메일을 입력하세요." required
                               type="email">
                        <div class="invalid-feedback" id="email-feedback">
                            이메일을 확인해주세요.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">비밀번호</label>
                        <input class="form-control" id="password" name="password" onblur="validate(this)"
                               placeholder="비밀번호를 입력하세요." required
                               type="password">
                        <div class="invalid-feedback">
                            비밀번호를 확인해주세요.
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-success" id="btn-sign" onclick="submitData(this.innerText)"
                                type="button">
                            로그인
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <small id="footer">
                    아직 회원이 아니신가요? <a class="text-success" onclick="changeModal(this)"
                                     style="cursor: pointer">회원가입</a>
                </small>
            </div>
        </div>
    </div>
</div>

<!-- Write Modal -->
<div aria-hidden="true" class="modal fade" id="write-modal" tabindex="-1" th:fragment="write-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">미리보기</h5>
                <span aria-hidden="true" aria-label="Close" class="close" data-dismiss="modal"
                      style="cursor: pointer">&times;</span>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <img alt="thumbnail" id="thumbnail"
                         src="https://dapp.dblog.org/img/default.jpg"
                         style="height: 20vh; object-fit: cover;">
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input accept="image/**" class="custom-file-input" id="btn-thumbnail"
                               onchange="preview(this)"
                               type="file">
                        <small><label class="custom-file-label" for="btn-thumbnail">미리보기 사진 (50MB)</label></small>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="title"
                           placeholder="제목을 입력해주세요." required
                           type="text">
                </div>
                <div class="form-group">
                    <small><textarea class="form-control" id="introduction" maxlength="100"
                                     onkeyup="introductionValidate(this)"
                                     placeholder="소개 글을 작성해주세요. (최대 100자)"
                                     style="height: 12vh; resize: none"></textarea></small>
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-success" id="btn-board-write"
                            type="button">
                        새 글 작성
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modify Modal -->
<div aria-hidden="true" class="modal fade" id="modify-modal" tabindex="-1" th:fragment="modify-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">미리보기</h5>
                <span aria-hidden="true" aria-label="Close" class="close" data-dismiss="modal"
                      style="cursor: pointer">&times;</span>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <img alt="thumbnail" id="thumbnail"
                         style="height: 20vh; object-fit: cover;"
                         th:src="${board.getThumbnailUrl()}">
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input accept="image/**" class="custom-file-input" id="btn-thumbnail"
                               onchange="preview(this)"
                               type="file">
                        <small><label class="custom-file-label" for="btn-thumbnail">미리보기 사진 (50MB)</label></small>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="title"
                           placeholder="제목을 입력해주세요." required
                           th:value="${board.getTitle()}" type="text">
                </div>
                <div class="form-group">
                    <small><textarea class="form-control" id="introduction" maxlength="100"
                                     onkeyup="introductionValidate(this)"
                                     placeholder="소개 글을 작성해주세요. (최대 100자)" style="height: 12vh; resize: none"
                                     th:text="${board.getIntroduction()}"></textarea></small>
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-success" id="btn-board-modify"
                            type="button">
                        글 수정
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div aria-hidden="true" class="modal fade" id="delete-modal" tabindex="-1" th:fragment="delete-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">게시글 삭제</h5>
                <span aria-hidden="true" aria-label="Close" class="close" data-dismiss="modal"
                      style="cursor: pointer">&times;</span>
            </div>
            <div class="modal-body">
                삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" id="btn-board-delete" type="button">삭제</button>
                <button class="btn btn-secondary btn-sm" data-dismiss="modal" type="button">취소</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>