<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/default :: head('detail')"/>
<body>
<header th:replace="layout/default :: header"/>
<div class="container-fluid" style="width: 50vw;padding-top: 20vh;">
    <div class="d-flex justify-content-between" style="margin-bottom: 20vh">
        <div>
            <h1 style="margin-bottom: 5vh" th:text="${board.getTitle()}"></h1>
            <span th:text="${board.getUser().getEmail()}  + '   ·   '">
            </span>
            <span style="font-weight: lighter"
                  th:text="${#temporals.format(board.getCreatedAt(), 'yyyy년 MM월 dd일 hh시 mm분')}"></span>
        </div>
        <div>
            <a class="btn btn-primary btn-sm mx-1 px-3" id="btn-board-modify"
               th:href="@{/modify/{id}(id=${board.getId()})}" type="button">
                수정
            </a>
            <button class="btn btn-danger btn-sm mx-1 px-3" id="btn-board-delete"
                    type="button">
                삭제
            </button>
        </div>
    </div>
    <div style="margin-bottom: 20vh" th:utext="${board.getContent()}"></div>
    <div class="d-flex" style="margin-bottom: 5vh">
        <div style="width: 128px; height: 128px; border-radius: 50%; overflow: hidden; display: inline-block; margin-right: 2vw;">
            <img style="object-fit: cover;width: 128px; height: 128px;" th:src="@{/images/img.jpg}">
        </div>
        <div class="align-self-center" style="display: inline-block">
            <h4>
                <div th:text="${board.getUser().getEmail()}"></div>
            </h4>
            <div>소개글</div>
        </div>
    </div>

    <hr style="margin-bottom: 5vh">

    <div style="margin-bottom: 5vh">
        <h6>
            <div class="p-2" th:text="${board.getComments().size()} + '개의 댓글'"></div>
        </h6>
        <textarea class="p-3"
                  placeholder="댓글을 작성해주세요."
                  style="width: 100%; height: 10vh; resize: none; border: 0.5px solid lightgray; outline: none;"></textarea>
        <div class="text-right">
            <button class="btn btn-success btn-sm my-3 px-3" id="btn-comment-write"
                    type="button">
                댓글 작성
            </button>
        </div>
    </div>

    <div th:each="comment : ${board.getComments()}">
        <div class="d-flex" style="margin-bottom: 2vh">
            <div style="width: 54px; height: 54px; border-radius: 50%; overflow: hidden; display: inline-block; margin-right: 1vw;">
                <img style="object-fit: cover;width: 54px; height: 54px;" th:src="@{/images/img.jpg}">
            </div>
            <div class="align-self-center" style="display: inline-block">
                <div th:text="${comment.getUser().getEmail()}"></div>
                <div style="font-weight: lighter" th:text="${comment.getCreatedAt()}">작성일</div>
            </div>
        </div>
        <div style="margin-bottom: 3vh" th:text="${comment.getContent()}">
            댓글
        </div>
        <hr style="margin-bottom: 3vh">
    </div>
</div>
</body>
</html>